.XSD/data_types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:simpleType name="Т10">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т20">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т20П">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т30">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т40">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т50">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т50П">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т60">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т60П">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т100">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т100П">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т250">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т250П">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т300">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т500">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т1000">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т2000">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Т2000П">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="КолвоТип">
		<xs:annotation>
			<xs:documentation>Количество</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="БИКТип">
		<xs:annotation>
			<xs:documentation>БИК</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="БИКТипП">
		<xs:annotation>
			<xs:documentation>БИК</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{9}|"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="БИКСВИФТТипП">
		<xs:annotation>
			<xs:documentation>БИК</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{9}|([A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3}|))|НР|НБ|"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ОГРНТип">
		<xs:annotation>
			<xs:documentation>Основной государственный регистрационный номер юридического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{13}|[0-9]{15}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ИННТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{10}|[0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="КППТип">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ОКСМТип">
		<xs:annotation>
			<xs:documentation>Код страны по ОКСМ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ОКСМТипП">
		<xs:annotation>
			<xs:documentation>Код страны по ОКСМ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}|"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ОКПОТип">
		<xs:annotation>
			<xs:documentation>Код ОКПО</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="КодСубъектаПоОКАТОТипП">
		<xs:annotation>
			<xs:documentation>Код из Справочника субъекта Российской Федерации </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}|"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ОКВЭДТип">
		<xs:annotation>
			<xs:documentation>Код ОКВЭД</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\.]{2,8}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ВремяТип">
		<xs:annotation>
			<xs:documentation>Время</xs:documentation>
		</xs:annotation>				
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ВЧПТип">
		<xs:annotation>
			<xs:documentation>Время с учетом часового пояса относительно московского времени </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2} \((м|М)(с|С)(к|К)(\+|-)[0-9]{2}:[0-9]{2}\)"/>
		</xs:restriction>
	</xs:simpleType>	

	<xs:simpleType name="ТелефонТип">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="КодВалТип">
		<xs:annotation>
			<xs:documentation>Код валюты ценной бумаги</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="СуммаТип">
		<xs:annotation>
			<xs:documentation>Цена</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,20}\.[0-9]{1,2}|[0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ФИО">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Фам" type="Т100" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Имя" type="Т100" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Отч" type="Т100" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ФИОСтрока" type="Т500" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ФИО (в одной строке)</xs:documentation>
					<xs:documentation>!!!!! Показатель добавлен в версии формата 1.1 !!!!!</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ДокУдост">
		<xs:annotation>
			<xs:documentation>
				Сведения о документе, удостоверяющем личность гражданина Российской Федерации,
				иностранного гражданина или лица без гражданства
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ВидДокКод">
				<xs:annotation>
					<xs:documentation>Код вида документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="2([1-2]|[6-8])|3([1-7]|9)|40|99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ВидДокНаименование" type="Т300" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование вида документа, удостоверяющего личность</xs:documentation>
					<xs:documentation>!!!!! Показатель удален в версии формата 1.1 !!!!!</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ИноеНаименованиеДок" type="Т500" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование иного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="СерияДок" type="Т50П" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НомДок" type="Т50П" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатВыдачиДок" type="ДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата выдачи документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="КемВыданДок" type="Т500" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Орган, выдавший документ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="КодПодр" type="Т50П" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код подразделения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НачПравПреб" type="ДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата начала срока действия права пребывания (проживания) в Российской Федерации</xs:documentation>
					<xs:documentation>!!!!! Показатель удален в версии формата 1.1 !!!!!</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ОкончПравПреб" type="ДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата окончания срока действия права пребывания (проживания) в Российской Федерации</xs:documentation>
					<xs:documentation>!!!!! Показатель удален в версии формата 1.1 !!!!!</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>	

	<xs:complexType name="ДокПодтв">
		<xs:annotation>
			<xs:documentation>
				Сведения о документе, подтверждающем право на пребывание (проживание) в Российской Федерации
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ВидДокКод">
				<xs:annotation>
					<xs:documentation>Код вида документа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="2([1-2]|[6-8])|3([1-7]|9)|40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ВидДокНаименование" type="Т250" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование вида документа</xs:documentation>
					<xs:documentation>!!!!! Показатель удален в версии формата 1.1 !!!!!</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ИноеНаименованиеДок" type="Т500" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование иного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="СерияДокПреб" type="Т50П" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия документа, подтверждающего право на пребывание (проживание) в Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НомДокПреб" type="Т50П" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер документа, подтверждающего право на пребывание (проживание) в Российской Федерации </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НачПравПреб" type="ДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата начала срока действия права пребывания (проживания) в Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ОкончПравПреб" type="ДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата окончания срока действия права пребывания (проживания) в Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="МигрКарт">
		<xs:annotation>
			<xs:documentation>Сведения миграционной карты</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="КодМигрКарт">
				<xs:annotation>
					<xs:documentation>Код вида документа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="39"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="СерияМигрКарт" type="Т50П" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Серия миграционной карты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НомМигрКарт" type="Т50">
				<xs:annotation>
					<xs:documentation>Номер миграционной карты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатНачПреб" type="ДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата начала срока пребывания</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатОкончПреб" type="ДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата окончания срока пребывания</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="МестоРождения">
		<xs:annotation>
			<xs:documentation>Сведения о месте рождения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="КодОКСМ" type="ОКСМТипП" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="СтранаНаименование" type="Т250П" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование страны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="КодСубъектаПоОКАТО" type="КодСубъектаПоОКАТОТипП" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код субъекта Российской Федерации по ОКАТО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Район" type="Т250П" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Район</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Пункт" type="Т250П" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Населенный пункт</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="МестоРождТекст" type="Т2000" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место рождения (в одной строке)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Адрес">
		<xs:sequence>
			<xs:element name="Индекс" type="Т30" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Почтовый индекс</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element name="КодОКСМ" type="ОКСМТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="СтранаНаименование" type="Т250" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование страны</xs:documentation>
					<xs:documentation>!!!!! Показатель удален в версии формата 1.1 !!!!!</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="КодСубъектаПоОКАТО" type="КодСубъектаПоОКАТОТипП" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код субъекта Российской Федерации по ОКАТО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Район" type="Т250П" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Район</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Пункт" type="Т250" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Населенный пункт</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Улица" type="Т250П" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Улица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Дом" type="Т60П" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дом(владение)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Корп" type="Т50П" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Корпус(строение)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Оф" type="Т100П" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Офис (строение)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="АдресСтрока" type="Т500" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес (в одной строке)</xs:documentation>
					<xs:documentation>!!!!! Показатель добавлен в версии формата 1.1 !!!!!</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Банк">
		<xs:annotation>
			<xs:documentation>
				Сведения о кредитной организации (филиале кредитной организации), передающей (передающем) сведения в уполномоченный орган (Росфинмониторинг)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="РегНомКО">
				<xs:annotation>
					<xs:documentation>Регистрационный номер кредитной организации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{1,4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="БИККО" type="БИКТип">
				<xs:annotation>
					<xs:documentation>БИК кредитной организации (филиала кредитной организации)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НомФлПередающий" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Порядковый номер филиала кредитной организации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{1,4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ОКАТОКО">
				<xs:annotation>
					<xs:documentation>Код ОКАТО</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Филиал">
		<xs:annotation>
			<xs:documentation>
				Сведения о филиале кредитной организации, представляющем сведения, но не передающем самостоятельно сведения в уполномоченный орган (Росфинмониторинг)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="РегНомКО">
				<xs:annotation>
					<xs:documentation>Регистрационный номер кредитной организации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{1,4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="НомФл">
				<xs:annotation>
					<xs:documentation>Порядковый номер филиала кредитной организации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{1,4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="БИКФл" type="БИКТипП">
				<xs:annotation>
					<xs:documentation>БИК филиала кредитной организации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ОКАТОФл" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код ОКАТО</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="ИдентификаторЗаписи">
		<xs:annotation>
			<xs:documentation>
				Идентификатор записи сведений, представляемых кредитной организацией (филиалом кредитной организации)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="20[1-9][0-9]_[0-9]{4}_[0-9]{4}_0(1|3|4|6)_[0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="Документ">
		<xs:annotation>
			<xs:documentation>Реквизиты документа</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="КодДок">
				<xs:annotation>
					<xs:documentation>Код вида документа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([0-4]|7)[0-9]|5[0-8]|8[0-2]|99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="НаимДок" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование вида документа</xs:documentation>
					<xs:documentation>!!!!! Показатель удален в версии формата 1.1 !!!!!</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="150"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ИноеНаимДок" type="Т250" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование иного документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатаДок" type="ДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НомДок" type="Т100" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="СодДок" type="Т2000" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Краткое содержание документа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="СведенияЮЛ">
		<xs:annotation>
			<xs:documentation>Сведения о юридическом лице (филиале юридического лица, представительстве)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="НаимЮЛ" type="Т1000">
				<xs:annotation>
					<xs:documentation>Наименование юридического лица (филиала юридического лица, представительства)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ПризнакФлЮЛ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак филиала (представительства) юридического лица</xs:documentation>
					<xs:documentation>!!!!! Показатель стал условным с версии формата 1.2 !!!!!</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="0|1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ИННЮЛ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН (КИО)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{10}|[0-9]{5}|"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="КППЮЛ" type="КППТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>КПП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ОГРНЮЛ" type="Т500" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="АдрРегЮЛ" type="Адрес" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место государственной регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатаРегЮЛ" type="ДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата государственной регистрации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатаАккредитации" type="ДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата записи об аккредитации</xs:documentation>
					<xs:documentation>!!!!! Показатель удален в версии формата 1.1 !!!!!</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element name="АдрЮЛ" type="Адрес" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес юридического лица (филиала (представительства) юридического лица)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="СведенияЕИО">
		<xs:annotation>
			<xs:documentation>Сведения о единоличном исполнительном органе юридического лица</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ТипЕИО">
				<xs:annotation>
					<xs:documentation>Тип единоличного исполнительного органа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="1|2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ПризнЕИО" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак резидента (нерезидента) единоличного исполнительного органа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="0|1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ЮЛЕИО" type="СведенияЮЛ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о юридическом лице-единоличном исполнительном органе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ФЛЕИО" type="СведенияФЛИП" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о физическом лице-единоличном исполнительном органе</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="СведенияФЛИП">
		<xs:annotation>
			<xs:documentation>
				Сведения о физическом лице, индивидуальном предпринимателе, физическом лице, занимающимся
				в установленном законодательством Российской Федерации порядке частной практикой
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ФИОФЛИП" type="ФИО">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ИННФЛИП" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{12}|"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="СНИЛСФЛ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>СНИЛС</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{3}(-| )[0-9]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ПолисНомер" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер полиса обязательного медицинского страхования</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{9}|[0-9]{16}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ТелефонНомер" type="ТелефонТип" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Номер телефона</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ОГРНИП" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРН</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{15}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ДатаРегИП" type="ДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата регистрации</xs:documentation>
					<xs:documentation>!!!!! Показатель удален в версии формата 1.1 !!!!!</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ТипФЛЧастнаяПрактика" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Тип физического лица, занимающегося в установленном законодательством
						Российской Федерации порядке частной практикой
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-3]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="РегнНомер" type="Т250" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Регистрационный номер, присвоенный физическому лицу, занимающемуся в установленном
						законодательством Российской Федерации порядке частной практикой
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="АдрРегИП" type="Адрес" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место государственной регистрации</xs:documentation>
					<xs:documentation>!!!!! Показатель удален в версии формата 1.1 !!!!!</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДокУдЛичн" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак документа, удостоверяющего личность</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-3]|6|8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="СведДокУдЛичн" type="ДокУдост" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="СведДокПреб" type="ДокПодтв" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о документе, подтверждающем право на пребывание (проживание) в Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="СведМигрКарт" type="МигрКарт" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения миграционной карты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ДатаРождения" type="ДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="МестоРожд" type="МестоРождения" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Место рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="КодОКСМ" type="ОКСМТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны гражданства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="СтранаНаименование" type="Т250П" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование страны гражданства</xs:documentation>
					<xs:documentation>!!!!! Показатель удален в версии формата 1.1 !!!!!</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ПризнакПубЛицо" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак принадлежности к публичным лицам</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-6]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="АдрРег" type="Адрес" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес места жительства (регистрации) или места пребывания</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ИдентификаторИНБОЮЛ">
		<xs:annotation>
			<xs:documentation>Идентификатор иностранной структуры без образования юридического лица</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="НомерИНБОЮЛ" type="Т50" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Регистрационный номер иностранной структуры без образования юридического лица
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="КодИНБОЮЛ" type="Т50" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Код иностранной структуры без образования юридического лица
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="СведенияИНБОЮЛ">
		<xs:annotation>
			<xs:documentation>Сведения об иностранной структуре без образования юридического лица</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ПолноеНаимИНБОЮЛ" type="Т500">
				<xs:annotation>
					<xs:documentation>Полное наименование иностранной структуры без образования юридического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НаимИНБОЮЛ" type="Т250" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сокращенное наименование иностранной структуры без образования юридического лица</xs:documentation>
					<xs:documentation>!!!!! Показатель удален в версии формата 1.1 !!!!!</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="РегИНБОЮЛ" type="ИдентификаторИНБОЮЛ" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Идентификатор (идентификаторы) иностранной структуры без образования юридического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="МестоДеятельностьИНБОЮЛ" type="Адрес" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Место ведения основной деятельности иностранной структуры без образования юридического лица
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ПризнакОргФормаИНБОЮЛ" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак, указывающий на организационную форму иностранной структуры без образования юридического лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-4]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Учредитель" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Сведения в отношении трастов и иных иностранных структур без образования юридического лица с аналогичной структурой
						или функцией об их учредителях и (или) доверительных собственниках (управляющих)
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="НаимУчредитель">
							<xs:annotation>
								<xs:documentation>Фамилия, имя, отчество или наименование</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:choice>
									<xs:element name="ЮрЛицо" type="Т500">
										<xs:annotation>
											<xs:documentation>Полное фирменное наименование</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ФизЛицо" type="ФИО">
										<xs:annotation>
											<xs:documentation>Фамилия, имя, отчество</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:choice>
							</xs:complexType>
						</xs:element>
						<xs:element name="АдрУчредитель" type="Адрес" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Адрес места жительства (места нахождения)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ДрагМеталл">
		<xs:annotation>
			<xs:documentation>
				Сведения о драгоценных металлах, драгоценных камнях, ювелирных изделиях
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="КодДрагМеталл">
				<xs:annotation>
					<xs:documentation>Код драгоценных металлов и драгоценных камней, ювелирных изделий и лома таких изделий</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="((A|a)(20|30|33|76|90))|((B|b)(69|99))|((C|c)([1-5]0|99))"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="НаимДрагМеталл" type="Т250" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование драгоценных металлов, драгоценных камней</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="БанкПлательщикПолучатель">
		<xs:annotation>
			<xs:documentation>
				Сведения о банке плательщика (банке получателя)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="БИККО" type="БИКСВИФТТипП">
				<xs:annotation>
					<xs:documentation>БИК (СВИФТ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НаимКО" type="Т250">
				<xs:annotation>
					<xs:documentation>Наименование банка</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="МестоПриемаВыдача">
		<xs:annotation>
			<xs:documentation>
				Сведения о месте приема (выдачи) наличных денежных средств
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ИдТерминал" type="Т50" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер банкомата (платежного терминала)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="АдрМестаПриемаВыдача" type="Адрес" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес места приема (выдачи) наличных денежных средств, авторизации ЭСП</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="БИККО" type="БИКСВИФТТипП" minOccurs="0">
				<xs:annotation>
					<xs:documentation>БИК (СВИФТ)</xs:documentation>
					<xs:documentation>!!!!! Показатель является обязательным с версии формата 1.1 !!!!!</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НаимКО" type="Т250" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование кредитной организации (филиала кредитной организации)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ОснованиеПримененияМер">
		<xs:annotation>
			<xs:documentation>
				Основание применения меры по замораживанию (блокированию) денежных средств или иного имущества
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="КодОснования">
				<xs:annotation>
					<xs:documentation>Код основания применения мер</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[1-3]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="КодЮЛФЛ">
				<xs:annotation>
					<xs:documentation>Код организации или физического лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{1,10}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="КоличествоКлиентов">
		<xs:annotation>
			<xs:documentation>Сведения о количестве клиентов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Кол0000" type="КолвоТип">
				<xs:annotation>
					<xs:documentation>
						Общее количество клиентов, в отношении денежных средств или иного имущества которых применены меры 
						(не были применены меры, подлежащие применению) в соответствии с Федеральным законом № 115-ФЗ
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Кол0001" type="КолвоТип">
				<xs:annotation>
					<xs:documentation>
						Количество клиентов, в отношении денежных средств или иного имущества которых применены меры 
						(не были применены меры, подлежащие применению) в соответствии с подпунктом 6 пункта 1 статьи 7 Федерального закона № 115-ФЗ
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Кол0002" type="КолвоТип">
				<xs:annotation>
					<xs:documentation>
						Количество клиентов, в отношении денежных средств или иного имущества которых применены меры (не были применены меры, подлежащие
						применению) в соответствии с пунктом 5 статьи 7 Федерального закона № 115-ФЗ
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Кол0003" type="КолвоТип">
				<xs:annotation>
					<xs:documentation>
						Количество клиентов, в отношении денежных средств или иного имущества которых применены меры (не были применены меры, подлежащие применению)
						в соответствии с подпунктом 6 пункта 1 статьи 7 и пунктом 5 статьи 7 Федерального закона № 115-ФЗ
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="СлужЧастьТип">
		<xs:annotation>
			<xs:documentation>Служебная часть электронного сообщения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ВерсияФормата">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Т10">
						<xs:enumeration value="1.0"/>
						<xs:enumeration value="1.1"/>
						<xs:enumeration value="1.2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ВерсПрог" type="Т50">
				<xs:annotation>
					<xs:documentation>Версия передающей программы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ИДКорр">
				<xs:annotation>
					<xs:documentation>Идентификатор корреспондента</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[A-Za-z0-9]{1,40}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ТипИнф">
				<xs:annotation>
					<xs:documentation>Тип информации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="1|3|4|6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ДатаСообщения" type="ДатаТип">
				<xs:annotation>
					<xs:documentation>Дата ФЭС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="УполнСотрудн" type="Т250">
				<xs:annotation>
					<xs:documentation>Должность уполномоченного лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ФИОУполнСотрудн" type="ФИО">
				<xs:annotation>
					<xs:documentation>ФИО уполномоченного лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ТелУполнСотрудн" type="ТелефонТип">
				<xs:annotation>
					<xs:documentation>Телефон уполномоченного лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ЭлектроннаяПочта" type="Т250" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес электронной почты</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>